body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 24px;
}

.main {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-input {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: 2px solid #ddd;
}

.search-button:hover {
    background-color: #444;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tab {
    padding: 20px 40px;
    margin: 0 80px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    cursor: pointer;
    font-size: 20px;
    width: 340px;
    text-align:center;
}

.tab-content {
    padding: 40px;
    text-align: center;
}

.button {
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}

.button:hover {
    background-color: #444;
}

.search-results {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 99.8%;
    top: 70px;
    z-index: 1;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 8px 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #ddd;
}

.search-results a {
    color: inherit;
    text-decoration: none;
}